{{#if success_message}}
    <div class="error-message mb-1 col-10 offset-md-1 p-1">
        {{success_message}}
    </div>
{{/if}}
{{#if error_message}}
    <div class="error-message mb-1 col-10 offset-md-1 p-1">
        {{error_message}}
    </div>
{{/if}}
